<h1 class="header">بنك الأسئلة</h1>
<mat-divider></mat-divider>
<div class="test-bank-option">
  <button class="Tbuttons" mat-raised-button [routerLink]="['/MainView/pages/dashboard/create-test']"> <i class="fas fa-plus"></i> انشاء اختبار </button>
  <button class="Tbuttons" mat-raised-button  (click)="uploadFromFile()"><i class="fa fa-align-justify"></i> الأختبارات </button>
</div>
