<input type="file" (change)="onFileChange($event)" />

<br>
<div *ngIf="willDownload">


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef> Student name </th>
      <td mat-cell *matCellDef="let element"> {{element.studentName}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element">{{element.email}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="purePassword">
      <th mat-header-cell *matHeaderCellDef>Password</th>
      <td mat-cell *matCellDef="let element">
      <input [type]="hide ? 'password' : 'text'" matInput required [value]="element.password" [disabled]="true">
    </td>
    </ng-container>

    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef>Phone number</th>
      <td mat-cell *matCellDef="let element">  {{element.phone}}  </td>
    </ng-container>

    <ng-container matColumnDef="level">
      <th mat-header-cell *matHeaderCellDef>level</th>
      <td mat-cell *matCellDef="let element">  {{element.level}}  </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div class="divButton">
  <button mat-raised-button  (click)="addStudents()" type="submit">حفظ</button>
</div>
