.container{
  height: 100vh;
  background-color: #0D71A4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}.row{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img{
  width: 100%;
}
.form-row{
  width: 93.8%;
  background-color: #FCFCFC;
  justify-content: center;
  align-items: center;
}
      .my-form{
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center ;
       
      }
.input-row{
  width: 280px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: baseline;
  color: #CC3300;
  margin: 0px;
  padding: 0px;
  direction: rtl;
}
.input-row input{
  margin-top: 5px;

}   
.input-row button{
  margin: auto;
  margin-top: 2px
  
}
.img-row{
  margin: 0;
  padding: 0;
}
