<div class="container">
  <div class="row">
  <img src="assets/images/hu-form.png" alt="">

<div class="form-row">
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="my-form">
  <div appearance="fill" class="input-row">
      <mat-label>الاسم الكامل</mat-label>
      <input matInput type="text" name="text" formControlName="fullName" required>
    </div>

   <div appearance="fill" class="input-row">
       <mat-label>البريد الالكتروني</mat-label>
       <input matInput type="email" name="email" formControlName="email" required>
     </div>

   <div appearance="fill" class="input-row">
       <mat-label> كلمة المرور</mat-label>
       <input matInput type="password" name="password" formControlName="password" required>
     </div>

     <div appearance="fill" class="input-row">
      <mat-label>تأكيد كلمة المرور </mat-label>
      <input matInput type="password" name="password" formControlName="ConfirmationPassword" required>
    </div>

   <div appearance="fill" class="input-row">
       <mat-label> الصورة</mat-label>
       <button type="button" class="content"  (click)="fileInput.click()">Choose File</button>
       <input hidden  (change)="fileChange($event)" #fileInput type="file" name="picture" required>
     </div>

   <div appearance="fill" class="input-row">
       <mat-label>رقم الهاتف</mat-label>
       <input matInput type="text" name="phoneNumber" formControlName="phoneNumber" required>
     </div>

   <div class="input-row" style="flex-direction: column;">
       <button  type="submit">التسجيل</button>
       <button [routerLink]="['/auth/login']">تسجيل الدخول</button>
   </div>
</form>
</div>
</div>
</div>
<img [src]="imageUrl" />
