<h1 class="header">الامتحانات</h1>
<mat-divider></mat-divider>

<mat-accordion class="example-headers-align">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        أختر المادة
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon matSuffix>filter_alt</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>أختر رقم المادة</mat-label>
        <mat-select (selectionChange)="courseNumberFilter($event)">
          <mat-option *ngFor="let item of cousreNumbers" [value]="item">{{item}}</mat-option>
        </mat-select>
        <mat-icon matSuffix>filter_alt</mat-icon>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>أختر نوع الامتحان</mat-label>
        <mat-select (selectionChange)="kindOfExamFilter($event)">
          <mat-option *ngFor="let item of levels" [value]="item">{{item}}</mat-option>
        </mat-select>
        <mat-icon matSuffix>filter_alt</mat-icon>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="teacherName">
      <th mat-header-cell *matHeaderCellDef> اسم المعلم </th>
      <td mat-cell *matCellDef="let element"> {{element.teacherName}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="courseName">
      <th mat-header-cell *matHeaderCellDef> المادة </th>
      <td mat-cell *matCellDef="let element">{{element.courseName}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="courseNumber">
      <th mat-header-cell *matHeaderCellDef>  رقم المادة </th>
      <td mat-cell *matCellDef="let element"> {{element.courseNumber}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="isConfimed">
      <th mat-header-cell *matHeaderCellDef>  حالة الاعتماد </th>
      <td mat-cell *matCellDef="let element"> {{element.isConfirmed === true? 'معتمد': 'غير معتمد'}} </td>
    </ng-container>

    <ng-container matColumnDef="confirm">
      <th mat-header-cell *matHeaderCellDef>  الموافقة </th>
      <td mat-cell *matCellDef="let element"  >
        <button
        mat-raised-button
        (click)="confirm(element)"
        [disabled]="element.isConfirmed"
        > <i class="fas fa-check-square fa-2x cur"></i></button>  </td>
    </ng-container>

    <ng-container matColumnDef="students">
      <th mat-header-cell *matHeaderCellDef> الطلاب </th>
      <td mat-cell *matCellDef="let element"
      [routerLink]="['/MainView/pages/dashboard/students/', element.courseNumber]"> <i class="fas fa-users fa-2x cur"></i>  </td>
    </ng-container>
<!--
    <ng-container matColumnDef="opentExamDetails">
      <th mat-header-cell *matHeaderCellDef> المزيد </th>
      <td mat-cell *matCellDef="let element"> <i class="fas fa-angle-double-right fa-2x cur"></i> </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" aria-label="Select page of users"></mat-paginator>
</div>
