<mat-horizontal-stepper dir="rtl"  #stepper>
  <mat-step [stepControl]="examInfoFormGroup" label="معلومات الامتحان">
    <form [formGroup]="examInfoFormGroup" class="exam-type">
      <!-- <ng-template matStepLabel>معلومات الامتحان</ng-template> -->
      <mat-form-field>
        <mat-label>نوع الامتحان</mat-label>
        <input matInput placeholder="امتحان اول, ثاني .." formControlName="examType" required >
      </mat-form-field>
      <mat-form-field>
        <mat-label>اسم المادة</mat-label>
        <input matInput placeholder="اسم المادة.." formControlName="courseName" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>عدد اسئلة الامتحان</mat-label>
        <input matInput placeholder="ارقام فقط" type="number" formControlName="questionsCount" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>الفصل الدراسي</mat-label>
        <input matInput placeholder="الفصل الدراسي الاول الثاني.." formControlName="semester" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>رقم المادة</mat-label>
        <input matInput placeholder="رقم المادة.." formControlName="courseNumber" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>العلامة العليا</mat-label>
        <input matInput formControlName="maxGreade" type="number" placeholder="العلامة العليا" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>السنة</mat-label>
        <mat-select formControlName="year">
          <mat-option *ngFor="let year of years" [value]="year">
            {{year}}
          </mat-option>
        </mat-select>
        <!-- <input matInput placeholder="Last name, First name" formControlName="year" required> -->
      </mat-form-field>
      <mat-form-field>
        <mat-label>تاريخ الامتحان</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="examDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

        <mat-error *ngIf="examInfoFormGroup.controls.examDate.hasError('matStartDateInvalid')">Invalid  date
        </mat-error>
        <!-- <mat-error *ngIf="examInfoFormGroup.controls.to.hasError('matEndDateInvalid')">Invalid end date</mat-error> -->
      </mat-form-field>
      <mat-form-field>
        <input placeholder="وقت بداية الامتحان" aria-label="وقت بداية الامتحان" matInput  formControlName="start" [ngxTimepicker]="startTime" [format]="24" readonly>
        <ngx-material-timepicker #startTime></ngx-material-timepicker>
      </mat-form-field>
      <mat-form-field>
        <input placeholder="وقت نهاية الامتحان" aria-label="وقت نهاية الامتحان" matInput   formControlName="end" [ngxTimepicker]="endTime" [format]="24" readonly>
        <ngx-material-timepicker #endTime></ngx-material-timepicker>
      </mat-form-field>
      <mat-form-field *ngIf="durationVisable" >
        <mat-label>مدة الامتحان بالساعة</mat-label>
        <input placeholder=" مدة  الامتحان" [disabled]="true" matInput formControlName="duration">
      </mat-form-field>
      <div>
        <button class="buttons" mat-raised-button  matStepperNext (click)="save()">التالي</button>
      </div>
    </form>
  </mat-step>
  <!-- <mat-step [stepControl]="rulesFormGroup" label="قواعد الامتحان" >
    <form [formGroup]="rulesFormGroup" class="exam-type">
      <mat-form-field >
        <mat-label>لغة الامتحان</mat-label>
        <mat-select formControlName="examLanguage">
          <mat-option *ngFor="let lan of lang" [value]="lan.value">
            {{lan.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field >
        <mat-label>عدد صفحات الامتحان</mat-label>
        <mat-select formControlName="numberOfPage">
          <mat-option *ngFor="let page of numberOfPages" [value]="page.value">
            {{page.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-checkbox formControlName="returnBack" [color]="color">السماح بالرجوع</mat-checkbox>
      <mat-checkbox formControlName="isRandomSequence" [color]="color">ترتيب عشوائي للأجوبة</mat-checkbox>
      <mat-checkbox formControlName="resultVisable" [color]="color">اظهارالنتيجة نهاية الامتحان </mat-checkbox>
      <mat-checkbox formControlName="incorrectAnswersIsVisable" [color]="color">اظهار الاجوبة الخاطئة</mat-checkbox>
      <mat-checkbox formControlName="isRequiredQusetions" [color]="color">اسئلة اجبارية</mat-checkbox>
      <br>
      <br>
      <div >
        <button class="buttons" mat-raised-button  matStepperPrevious>الرجوع</button>
        <button class="buttons" mat-raised-button  matStepperNext>التالي</button>
      </div>
    </form>
  </mat-step> -->
  <mat-step>
    <ng-template matStepLabel>تحميل اسئلة الامتحان</ng-template>
    <h1>أختر طريقة التحميل</h1>
    <div class="Qoptions">
        <button class="Qbuttons" mat-raised-button  (click)="uploadFromFile()"><i class="fa fa-file-upload"></i>  تحميل من ملف</button>
        <button class="Qbuttons" mat-raised-button  (click)="uploadFromFile()"><i class="fa fa-align-justify"></i> ادخال كل سؤال على حدا</button>
    </div>
    <div>
        <button class="buttons" mat-raised-button  matStepperPrevious>الرجوع</button>
        <!-- <button class="buttons" mat-raised-button  matStepperNext>التالي</button> -->
    </div>
  </mat-step>
  <!-- <mat-step>
    <ng-template matStepLabel>حفظ</ng-template>
    <p>هل انت متأكد من الحفظ؟.</p>
    <div>
      <button class="buttons" mat-raised-button  matStepperPrevious>الرجوع</button>
       <button class="buttons" mat-raised-button  (click)="stepper.reset()">Reset</button>
      <button class="buttons" mat-raised-button  type="submit" >حفظ</button>
    </div>
  </mat-step> -->
</mat-horizontal-stepper>



