<div dir="rtl" class="container" >
    <div class="teacher-name">
        <mat-toolbar >
            <span> <i class="fa fa-user-circle fa-lg"></i> {{username?username:'no user found'}} - Admin </span>
          </mat-toolbar>
    </div>
    <div class="logout-btn">
        <button color="warn" (click)="logout()" mat-raised-button><i class="fa fa-sign-out-alt"></i> Log out </button>
    </div>
    <!-- <div class="logout-btn">
      <button color="warn" (click)="deleteAll()" mat-raised-button><i class="fa fa-sign-out-alt"></i> Delete All </button>
  </div> -->
</div>
