.exam-type {
  display: flexbox;

}

mat-form-field{
  margin: 11px 10px;
  font-size:  medium;
}



::ng-deep .mat-step-header .mat-step-label.mat-step-label-active {
  color: rgba(0,0,0,.87);
  font-size: x-large;
}

.buttons {
  margin-left: 10px;
}

mat-checkbox {
  margin: 11px 10px;
  font-size:  medium;
}
.Qbuttons {
  margin-left: 10px;
  margin-bottom: 40px;
  width: 300px;
  height: 60px;
  font-size:  medium;
}

.Qoptions {
  margin: 0  250px;
}

::ng-deep .mat-stepper-horizontal, .mat-stepper-vertical {
  background-color: #fff;
  padding-bottom: 350px;
}

.header {
  text-align: center;
  margin-top: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;
}

button {
  background-color: #0D71A4;
  color: #fff;
}

::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: #0D71A4;
  color: #fff;
}


p {
  font-size: x-large;
}

table {
  width: 100%;
  overflow: auto;
}
.test-bank-option {
  margin: 0  100px;
}
.Tbuttons {
  margin-top: 20PX;
  margin-left: -20px;
  margin-bottom: 40px;
  width: 300px;
  height: 60px;
  font-size:  medium;
}
.header {
  text-align: center;
  margin-top: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: xx-large;
}
.iconD {
color: red;
cursor: pointer;
}

.iconU {
color: rgb(9, 145, 88);
cursor: pointer;
}

::ng-deep tr.mat-row, tr.mat-footer-row {
height: 48px;
// text-align: center;
}

::ng-deep  .mat-header-cell {
font-size: 15px;
font-weight: 500;
// text-align: center;
}
