<h1 mat-dialog-title dir="rtl" *ngIf="data.mode==0">إضافة مادة</h1>
<h1 mat-dialog-title dir="rtl" *ngIf="data.mode==1">تعديل المادة</h1>


<div class="container" dir="rtl">
  <form [formGroup]="addCourseForm">
    <mat-form-field>
      <mat-label>اسم المادة</mat-label>
      <input type="text" matInput required formControlName="courseName">
    </mat-form-field>

    <!-- <mat-form-field>
      <mat-label>رقم المادة</mat-label>
      <input type="text" matInput  formControlName="courseNumber">
    </mat-form-field> -->

    <mat-form-field>
      <mat-label>التقدير</mat-label>
      <mat-select formControlName="scale">
        <mat-option *ngFor="let level of levels" [value]="level">
          <h2>{{level}}</h2>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label> العلامة العليا</mat-label>
      <input type="number" matInput required (input)="saveMax($event)">
    </mat-form-field>
    <mat-form-field>
      <mat-label> العلامة الدنيا</mat-label>
      <input type="number" matInput required (input)="saveMin($event)">
    </mat-form-field>

    <!-- <span>العلامة العليا</span>
    <mat-slider thumbLabel (input)="saveMax($event)" [displayWith]="formatLabel" tickInterval="100" min="35" max="100"></mat-slider>
    <span>العلامة الدنيا</span>
    <mat-slider thumbLabel (input)="saveMin($event)" [displayWith]="formatLabel" tickInterval="100" min="35" max="100"></mat-slider> -->

    <button mat-raised-button  (click)="saveScale()">حفظ الدرجة</button>
    <br/>
    <div class="divButton">
      <button mat-raised-button (click)="onSubmit()" type="submit">حفظ</button>
      <!-- <button mat-raised-button *ngIf="data.mode==1" (click)="edit()" type="submit">حفظ</button> -->
      <button mat-button (click)="onNoClick()">إغلاق</button>
    </div>
  </form>
</div>
