<!-- <div class="button-groups">
  <button (click)="theme=undefined" nz-button nzType="default">default</button>
  <button (click)="theme='macarons'" nz-button nzType="default">macarons</button>
  <button (click)="theme='dark'" nz-button nzType="default">dark</button>
</div> -->
<div echarts [options]="charts" [theme]="'dark'" class="demo-chart"></div>
