<h1 class="header">المعلمين</h1>
<mat-divider></mat-divider>
<div class="test-bank-option" >
  <button class="Tbuttons" mat-raised-button  (click)="addStudent()"> <i class="fas fa-user-plus"></i> اضافة معلم  </button>
  <!-- <button *ngIf="optionMode" class="Tbuttons" mat-raised-button  (click)="students()"><i class="fas fa-users"></i> الطلاب </button> -->
</div>
<mat-accordion class="example-headers-align">
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
         Search
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon matSuffix>filter_alt</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <mat-form-field>
        <mat-label>Search ... </mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field>

      <h3> Show passwords </h3>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
     </button>
     <app-export-pdf [head]="head" [data]="data"></app-export-pdf>
    </div>
    </mat-expansion-panel>
  </mat-accordion>
     <!-- <br/>
     <br/>
     <br/> -->
     <div #htmlData>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef> Teacher name </th>
          <td mat-cell *matCellDef="let element"> {{element.fullName}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element">{{element.email}}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="purePassword">
          <th mat-header-cell *matHeaderCellDef>Password</th>
          <td mat-cell *matCellDef="let element">
          <input [type]="hide ? 'password' : 'text'" matInput required [value]="element.purePassword" [disabled]="true">
        </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="joined">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="phoneNumber">
          <th mat-header-cell *matHeaderCellDef>Phone number</th>
          <td mat-cell *matCellDef="let element">  {{element.phoneNumber}}  </td>
        </ng-container>

         <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef> Edit </th>
          <td mat-cell *matCellDef="let element"  (click)="edit(element)"> <i class="fas fa-edit fa-lg iconU"></i> </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>  Delete  </th>
          <td mat-cell *matCellDef="let element" (click)="delete(element._id)"> <i class="fas fa-trash-alt fa-lg iconD"></i> </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" aria-label="Select page of users"></mat-paginator>
    </div>



