.iconU {
  color: rgb(9, 145, 88);
  cursor: pointer;
}

mat-form-field {
width: 100%;
  display: flexbox;
}
button {
  background-color: #0d71a4;
  color: #fff;
  width: 25%;
  margin-left: 20px;
}


.divButton {
  display: inline;
  margin-top: 20px;
}
