<h1 mat-dialog-title dir="rtl">العلامات</h1>
<!-- (ngModelChange)="changeExamsMarks(item._id)" -->
<div *ngFor="let item of marks; let index=i"  dir="rtl">
  <mat-form-field appearance="outline" >
    <input matInput type="text" placeholder="العلامة" [(ngModel)]="marksModel[item._id]" >
    <mat-icon matSuffix class="iconU" (click)="updateMark(item._id)">save</mat-icon>
    <!-- <mat-hint *ngIf="examMark[element._id] > this.data.examObject.maxGreade " class="warn">خطأ ادخال غير صحيح</mat-hint> -->
   </mat-form-field>
</div>
<div dir="rtl">
  <mat-form-field appearance="outline">
    <mat-label>أخرى</mat-label>
    <input matInput type="text" placeholder="العلامة" [(ngModel)]="otherMark" >
    <mat-icon matSuffix class="iconU" (click)="saveOtherMark()">save</mat-icon>
   </mat-form-field>
   <br/>
  <mat-form-field appearance="outline">
    <mat-label>المجموع النهائي  للمادة</mat-label>
    <input matInput type="text" placeholder="العلامة" [(ngModel)]="sum" [disabled]="true">
    <mat-icon matSuffix class="iconU"  (click)="saveCourseMark()">save</mat-icon>
   </mat-form-field>
   <br/>
   <mat-form-field appearance="outline">
    <mat-label>المجموع النهائي  بالنقاط</mat-label>
    <input matInput type="text" placeholder="العلامة" [(ngModel)]="point" [disabled]="true">
    <!-- <mat-icon matSuffix class="iconU"  (click)="saveCourseMark()">assignment_turned_in</mat-icon> -->
   </mat-form-field>
   <br/>
</div>

<div class="divButton"  >
  <!-- <button mat-raised-button (click)="onSubmit()" type="submit">حفظ</button> -->
  <!-- <button mat-raised-button *ngIf="data.mode==1" (click)="edit()" type="submit">حفظ</button> -->
  <button mat-button (click)="onNoClick()">إغلاق</button>
</div>
