<h1 mat-dialog-title dir="rtl">{{title}}</h1>
<mat-divider></mat-divider>
<br/>
<div mat-dialog-content  dir="rtl">
<h3 dir="rtl">{{bodyMessage}}</h3>
</div>
<div mat-dialog-actions  dir="rtl">
  <button mat-raised-button class="con-button" color="primary" (click)="onNoClick()" cdkFocusInitial>اغلاق</button>
  <button mat-raised-button class="con-button" color="warn" (click)="confirm()" >نعم</button>
</div>
