<h1 class="header">علامات مادة {{courseName}}</h1>
<mat-divider></mat-divider>
<mat-accordion class="example-headers-align">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        فلتر
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon matSuffix>filter_alt</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>بحث ... </mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="أبحث" #input>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>أختر المرحلة</mat-label>
        <mat-select (selectionChange)="filter($event)">
          <mat-option *ngFor="let item of levels" [value]="item">{{item}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button class="Tbuttons" mat-raised-button  (click)="clear()">اظهار الجميع </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="studentName">
    <th mat-header-cell *matHeaderCellDef> اسم الطالب </th>
    <td mat-cell *matCellDef="let element"> {{element.studentsId.studentName}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="studentNumber">
    <th mat-header-cell *matHeaderCellDef> رقم الطالب </th>
    <td mat-cell *matCellDef="let element">{{element.studentsId.studentNumber}}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef> المرحلة </th>
    <td mat-cell *matCellDef="let element"> {{element.studentsId.level}} </td>
  </ng-container>

  <ng-container matColumnDef="degree">
    <th mat-header-cell *matHeaderCellDef> الدراجات </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field appearance="outline">
        <input matInput type="text" [disabled]="true" placeholder="العلامة" [(ngModel)]="points[element.studentsId._id]">
        <!-- <mat-icon matSuffix>assignment_turned_in</mat-icon> -->
       </mat-form-field>
    </td>
  </ng-container>

  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef> المجموع  </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field appearance="outline">
        <input matInput type="text" [disabled]="true" placeholder="العلامة" [(ngModel)]="studentMark[element.studentsId._id]">
        <!-- <mat-icon matSuffix>assignment_turned_in</mat-icon> -->
       </mat-form-field>
    </td>
  </ng-container>

  <!-- <ng-container matColumnDef="otherMark">
    <th mat-header-cell *matHeaderCellDef> اخرى </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field appearance="outline">
        <input matInput type="text" placeholder="العلامة" [(ngModel)]="studentOtherMark[element.studentsId._id]">
       </mat-form-field>
    </td>
  </ng-container> -->
          <!-- <mat-icon matTooltip="Save" (click)="saveOtherMark(element)" matSuffix>save</mat-icon> -->

  <!-- Symbol Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> البريد الالكتروني </th>
    <td mat-cell *matCellDef="let element"> {{element.studentsId.email}} </td>
  </ng-container>

  <!-- <ng-container matColumnDef="mark">
    <th mat-header-cell *matHeaderCellDef> العلامات </th>
    <td mat-cell *matCellDef="let element" (click)="openMark(element._id)"> <i class="fas fa-edit fa-lg iconU"></i> </td>
  </ng-container> -->

  <!-- <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> حذف </th>
    <td mat-cell *matCellDef="let element" (click)="delete(element._id)"> <i class="fas fa-trash-alt fa-lg iconD"></i>
    </td>
  </ng-container> -->

  <!--  <ng-container matColumnDef="courseNumber">
    <th mat-header-cell *matHeaderCellDef>رقم الامتحان</th>
    <td mat-cell *matCellDef="let element"> {{element.courseNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="created">
    <th mat-header-cell *matHeaderCellDef>  تاريخ الانشاء </th>
    <td mat-cell *matCellDef="let element"> {{element.created | date:'medium'}} </td>
  </ng-container>

  <ng-container matColumnDef="opentExamDetails">
    <th mat-header-cell *matHeaderCellDef>  المزيد </th>
    <td mat-cell *matCellDef="let element"> <i class="fas fa-angle-double-right fa-2x cur"></i> </td>
  </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<br>

