<h1 class="header">المواد</h1>
<mat-divider></mat-divider>
<div class="test-bank-option" >
  <button class="Tbuttons" mat-raised-button  (click)="addCourse()"> <i class="fas fa-file-alt"></i> إضافة مادة </button>
  <!-- <button *ngIf="optionMode" class="Tbuttons" mat-raised-button  (click)="students()"><i class="fas fa-users"></i> الطلاب </button> -->
</div>
<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        أختر المادة
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon matSuffix>filter_alt</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>أختر رقم المادة</mat-label>
        <mat-select (selectionChange)="courseNumberFilter($event)">
          <mat-option *ngFor="let item of cousreNumbers" [value]="item">{{item}}</mat-option>
        </mat-select>
        <mat-icon matSuffix>filter_alt</mat-icon>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>اسم المادة</mat-label>
        <mat-select (selectionChange)="kindOfExamFilter($event)">
          <mat-option *ngFor="let item of cousreName" [value]="item">{{item}}</mat-option>
          <mat-option  [value]="0">جميع المواد</mat-option>
        </mat-select>
        <mat-icon matSuffix>filter_alt</mat-icon>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="courseName">
      <th mat-header-cell *matHeaderCellDef> اسم المادة </th>
      <td mat-cell *matCellDef="let element"> {{element.courseName}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="courseNumber">
      <th mat-header-cell *matHeaderCellDef> رقم المادة</th>
      <td mat-cell *matCellDef="let element">{{element.courseNumber}}</td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> حذف </th>
      <td mat-cell *matCellDef="let element" (click)="delete(element._id)"> <i class="fas fa-trash-alt fa-lg iconD"></i>
      </ng-container>

    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef> تاريخ الانشاء </th>
      <td mat-cell *matCellDef="let element"> {{element.created | date:'medium'}} </td>
    </ng-container>
    <!-- (click)="getStudent(element.courseNumber)" -->
    <ng-container matColumnDef="grades">
      <th mat-header-cell *matHeaderCellDef> الطلاب </th>
      <td mat-cell *matCellDef="let element"
      [routerLink]="['/MainView/pages/dashboard/students/', element.courseNumber]"> <i class="fas fa-users fa-2x cur"></i>  </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 100]" [pageSize]="5" aria-label="Select page of users"></mat-paginator>
</div>
