<mat-form-field class="full-width" appearance="outline">
  <mat-label>أبحث</mat-label>
  <input [(ngModel)]="term" type="text" matInput placeholder="أبحث">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
<mat-form-field class="full-width" appearance="outline">
  <mat-label>أختر المرحلة</mat-label>
  <mat-select  (selectionChange)="filter($event)">
    <mat-option *ngFor="let item of levels" [value]="item">{{item}}</mat-option>
  </mat-select>
</mat-form-field>
<mat-divider></mat-divider>
<br/>
<mat-selection-list #Students>
  <mat-list-option *ngFor="let student of students|filter:term" [value]="student" class="mat-primary">
    {{student.studentName}}
  </mat-list-option>
</mat-selection-list>

<p dir="rtl">
  عدد الطلاب المحدد: {{Students.selectedOptions.selected.length}}
</p>
<div class="divButton">
  <mat-checkbox (click)="selectAll()" type="submit">اختيار الجميع</mat-checkbox>
  <button mat-raised-button (click)="onSubmit()" type="submit">حفظ</button>
  <button mat-button (click)="onNoClick()">إغلاق</button>
</div>
