button {
  background-color: #0d71a4;
  color: #fff;
  width: 25%;
  margin-left: 20px;
}


.divButton {
  display: inline;
}

.mat-pseudo-checkbox-checked{
  background: #0d71a4;
}
::ng-deep  .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate {
  background: #0d71a4;
}

.full-width {
  width: 100%;
}


