<h1 dir="rtl"> {{this.data.examObject.examType}}-{{this.data.examObject.courseName}} <button  class="cls" mat-button (click)="onNoClick()"><i class="fa fa-times"></i></button></h1>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" dir="rtl">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="studentName">
    <th mat-header-cell *matHeaderCellDef> اسم الطالب </th>
    <td mat-cell *matCellDef="let element"> {{element.studentName}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="studentNumber">
    <th mat-header-cell *matHeaderCellDef> رقم الطالب </th>
    <td mat-cell *matCellDef="let element">{{element.studentNumber}}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef> المرحلة   </th>
    <td mat-cell *matCellDef="let element"> {{element.level}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>  البريد الالكتروني </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

   <ng-container matColumnDef="mark">
    <th mat-header-cell *matHeaderCellDef> علامة الطالب </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field appearance="outline">
      <input matInput type="number" placeholder="العلامة" [(ngModel)]="examMark[element._id]">
      <mat-icon matSuffix>assignment_turned_in</mat-icon>
      <mat-hint *ngIf="examMark[element._id] > this.data.examObject.maxGreade " class="warn">خطأ ادخال غير صحيح</mat-hint>
     </mat-form-field>

     <mat-form-field class="full-width" appearance="outline">
      <mat-label>أختر الامتحان</mat-label>
      <mat-select [(ngModel)]="examTypValue" [disabled]="true">
        <mat-option *ngFor="let item of examType" [value]="item.value">{{item.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>

     <button mat-icon-button class="iconU" (click)="saveMark(element._id)" [disabled]="examMark[element._id] > this.data.examObject.maxGreade || examDesc[element._id]==null">
      <mat-icon>save</mat-icon>
    </button>
 </td>
  </ng-container>

  <!-- <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>  حذف  </th>
    <td mat-cell *matCellDef="let element" (click)="delete(element._id)"> <i class="fas fa-trash-alt fa-lg iconD"></i> </td>
  </ng-container> -->

  <!--  <ng-container matColumnDef="courseNumber">
    <th mat-header-cell *matHeaderCellDef>رقم الامتحان</th>
    <td mat-cell *matCellDef="let element"> {{element.courseNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="created">
    <th mat-header-cell *matHeaderCellDef>  تاريخ الانشاء </th>
    <td mat-cell *matCellDef="let element"> {{element.created | date:'medium'}} </td>
  </ng-container>

  <ng-container matColumnDef="opentExamDetails">
    <th mat-header-cell *matHeaderCellDef>  المزيد </th>
    <td mat-cell *matCellDef="let element"> <i class="fas fa-angle-double-right fa-2x cur"></i> </td>
  </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

