mat-drawer-container{
    height: 100%;
}
mat-drawer{
    background: rgb(35, 77, 94);;
    width: 15%;
    color: snow;
    text-align: center;
    overflow: hidden;
}
.option{
    width: 100%;
    height: 12%;
    border: 1px solid rgb(32, 32, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    transition: all .4s;
    font-size: 18px;
}
.option i{
    font-size: 40px;
    color: rgb(35, 77, 94);
    transition: all .4s;
}
.option:hover{
    opacity: .944;
    font-weight: bold;
    font-size: 22px;
}
.option:hover > i{
    transform: scale(1.15);
}
.addS{
    background: #5A9BD5;
    color: white;
}
.createE{
    background: #D2DDEF;
    color: black;
}
.exams{
    background: #EAEEF7;
    color: black;

}

::ng-deep .mat-drawer-content {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  overflow: hidden;
}
