.contianer{
    width: 100%;
}
.questions-preview{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
.q-box{
    width: 80%;
    box-shadow: 4px 4px 16px #ddd;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 10px;
}
.radio-group{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
.radio-button{
    margin: 5px;
}
.input-row{
  width: 280px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: baseline;
  color: #CC3300;
  margin: 0px;
  padding: 0px;
  direction: rtl;
}
.input-row input{
  margin-top: 5px;

}
.input-row button{
  margin: auto;
  margin-top: 2px

}
