<h1 mat-dialog-title dir="rtl">تحميل ملف</h1>
<div mat-dialog-content>
  <input type='file' accept="text/plain" (change)="fileChanged($event)">
</div>

<div class="contianer">
  <div *ngIf="showPreview" class="questions-preview">
    <div class="q-box" dir="rtl" *ngFor="let question of formArrayOfQuestions.value; let i = index"
      [attr.data-index]="i">
      <div>
        <mat-form-field appearance='outline'>
          <input matInput [value]="question.questionText" disabled>
        </mat-form-field>
        <br />
        <mat-form-field appearance='outline'>
          <input matInput type="number" placeholder="العلامة"  [value]="question.point">
        </mat-form-field>
      </div>
      <div *ngIf="MODE=='test_bank'">
        <h3>اضافة الشرح</h3>
          <quill-editor [(ngModel)]="explanations[i]" class="quilleditor"></quill-editor>
      </div>
      <br/>
      <div appearance="fill" class="input-row">
        <mat-label> الصورة</mat-label>
        <button type="button" class="content"  (click)="fileInput.click()">Choose File</button>
        <input hidden  (change)="fileChange($event,i)" #fileInput type="file" name="picture" required>
      </div>
      <div>
        <mat-radio-group class="radio-group">
          <mat-radio-button class="radio-button" *ngFor="let answer of question.answers" [value]='answer.text'
            [checked]='answer.answer' [disabled]="true">
            {{answer.text}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <button mat-raised-button (click)="savePoint(question.point, question, i,explanations[i])">حفظ</button>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">أغلاق</button>
  <button mat-raised-button (click)="uploadTxtFile()">تحميل</button>
</div>
